* {
    background-color: black;
    font-family: helvetica, sans-serif;
    color: rgb(144, 141, 139);
    font-size: 22px;
    opacity: 0.;
}
.header {
    border-bottom: 1px solid seashell;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 50px;
    margin-left: 10px;
    opacity: 0.7;
}
.menu {
    list-style-type: none;
    display: inline-flex;
    justify-content: flex-end;
}
li {
    margin-right: 10px;
}
li a:hover {
    text-decoration: none;
}
.mission {
    height: 700px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*1u2bhik*_ga*NTMwNDk2ODM0NC4xNjg1MTEwMjgy*_ga_3LRZM6TM9L*MTY4OTc4MTEzNy4zOC4xLjE2ODk3ODExMzkuNTguMC4w");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   
h2, h4 {
    text-align: center;
    padding: 10px;
    margin: -1px;
    width: 100%;
    opacity: 1;
}
h2 {
    font-size: 26px;
}
.month {
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
}
.listofimages {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0 auto;
}
.image-with-caption {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 40px;
}
.teaimage {
    max-height: 200px;
    max-width: 300px;
}
figcaption {
text-align: center;
margin-top: 10px;
}
.locations {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*1gxui5p*_ga*NTMwNDk2ODM0NC4xNjg1MTEwMjgy*_ga_3LRZM6TM9L*MTY5MDI2NDQ2OC40MS4xLjE2OTAyNjQ0NzIuNTYuMC4w");
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
   
}
.title-locations {
    margin-bottom: 15px;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    opacity: 0.7;
    color: rgb(242, 234, 225);
    background-color: transparent;
}
.list-of-addresses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    background-color: transparent;
}
.address {
    padding: 10px;
    width: 300px;
    margin-right: 40px;
    line-height: 40px;
    opacity: 1;
    text-align: center;
}
.footer {
    height: 200px;
    margin-top: 50px;
    margin-bottom: 20px;
}
h5, .phone {
    text-align: center;
    line-height: 5px;
}
.copyright-text {
    margin-left: 20px;
    font-size: 14px;
    margin-top: 60px;
}